/* Media Queries 640px */
@media screen and (max-width: 640px) {
  body {
    background-color: #332f2f;
  }
      
  #main-container {
    width: 100%;
    padding: 20px;
  }
  
  .main-section {
    width: 100%;
    margin-top: 150px;
  }
  
  h1 {
    width: 100%;
  }
  
  .auth-image {
    width: 100%;
  }
    
  nav {
    float: none;
    text-align: center;
    padding-right: 26px;
  }
  
  #logo {
    float: none;
    width: auto;
    display: block;
  }

  .work {
    width: 100%;
  }
  
}

/* Media Queries 768px */
@media screen and (min-width: 641px) and (max-width: 768px) {
  body {
    background-color: #332f2f;
  }

  #logo {
    margin-left: 20px;
  }

  nav {
    padding-right: 20px;
  }

  .main-section {
    width: 95%;
    margin-left: 20px;
    margin-right: 15px;
  }

  .auth-image {
    width: 60%;
  }

  .work {
    width: 33%;
  }


}

