/* Media Queries 640px Index Page */
@media screen and (max-width: 640px) {
  body {
    background-color: #332f2f;
  }
      
  #main-container {
    width: 100%;
    padding: 20px;
  }
  
  .main-section {
    width: 100%;
    margin-top: 150px;
  }
  
  h1 {
    width: 100%;
  }
  
  .auth-image {
    width: 100%;
  }
    
  nav {
    float: none;
    text-align: center;
    padding-right: 26px;
  }
  
  #logo {
    float: none;
    width: auto;
    display: block;
  }

  .work {
    width: 100%;
  }
  

}
