/* Media Queries 640px */
@media screen and (max-width: 640px) {
  body {
    background-color: #332f2f;
  }
      
  #main-container {
    width: 100%;
    padding: 20px;
  }
  
  .main-section {
    width: 100%;
    margin-top: 150px;
  }
  
  h1 {
    width: 100%;
  }
  
  .auth-image {
    width: 100%;
  }
    
  nav {
    float: none;
    text-align: center;
    padding-right: 26px;
  }
  
  #logo {
    float: none;
    width: auto;
    display: block;
  }

  .work {
    width: 100%;
  }

  #masthead {
    position: absolute;
  }

}


/* Media Queries 768px */
@media screen and (min-width: 641px) and (max-width: 768px) {
  body {
    background-color: #332f2f;
  }

  #logo {
    margin-left: 15px;
  }

  nav {
    padding-right: 15px;
  }

  .main-section {
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .auth-image {
    width: 60%;
  }

  .work {
    width: 33%;
  }

}

/* Media Queries 980px */
@media screen and (min-width: 769px) and (max-width: 980px) {
  body {
    background-color: #332f2f;
  }

  #logo {
    margin-left: 40px;
  }

  nav {
    padding-right: 40px;
  }

  .main-section {
    width: 60%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .work {
    width: 40%;
  }

  .work h3 {
    padding: 3px;
  }



}

